*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Helvetica;
}
.ancho{
    width: 1200px;
    margin: auto;
}
.head{
    background-color: beige;
    border-bottom: 3px solid rgb(245, 200, 0);
}
.logo{
    display: inline-block;
    padding: 10px 5px;
    width: 250px;
    text-align: center;
}
.logo img{
    width: 200px;
}
.busqueda{
    display: inline-block;
    width: 450px;
    text-align: center;
    vertical-align: 25px;
}
input[type="text"]{
    border: #ccc 1px solid;
    padding: 10px 5px; 
    width: 330px;
}
input[type="submit"]{
    border: none;
    border-radius: 3px;
    padding: 12px 30px;
    background-color: rgb(245, 200, 0);
    color: white;
    font-weight: 600;
}
.menu{
    display: inline-block;
    width: 450px;
    text-align: right;
}
.menu a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 10px;
    vertical-align: 25px;
}
.menu a:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(245, 200, 0);
}
.menuPanel{
    display: inline-block;
    width: 800px;
    text-align: center;
}
.menuPanel a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 20px;
    vertical-align: 25px;
}
.menuPanel a:hover{
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(245, 200, 0);
}
.cerrar{
    display: inline-block;
    width: 120px;
    vertical-align: 25px;
    text-align: center;
}
.cerrar a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.cerrar a:hover{
    color: rgb(245, 200, 0);
    font-weight: bold;
}